
.body {
    font-family: sans-serif;
    color: rgb(23, 25, 29);
    font: bold 14px/14px "Maison Neue", sans-serif;
}

.my-navbar {
    /* background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.50) 47%, rgba(0, 0, 0, 0.50) 100%); */
    background-blend-mode: screen;
    text-align: center;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
}

.my-navbar p {
    padding: 1em;
}

.arrows-container {
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.arrows-container p {
    display: inline-flex;
    vertical-align: middle;
}

.arrows {
    cursor: pointer;
}

.days-left-container {}

.days {
    display: inline-block;
    vertical-align: top;
    margin: 1em .5em;
    /* background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.50) 47%, rgba(0, 0, 0, 0.50) 100%); */
    background-blend-mode: screen;
    text-align: center;
    border-radius: .2em;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    max-width: 16.35em;
}

.weekdays {
    font-weight: 700;
    margin: .8em auto 0 auto;
}

.day-short-desc {
    color: #8d8d8d;
    font-weight: 100;
    font-size: .8em;
}

.events-container {
    padding: .3em 0 .5em 0;
}

.event {
    border-bottom: 2px solid #ECE2DF;
    text-align: left;
    margin-top: .3em;
    padding: 0.5em;
    cursor: pointer;
    font-weight: 700;
    font-size: .8em;
    background-color: white;
    border-radius: .2em;
}

.new-event {
    border: none;
    background: transparent;
    text-decoration: none;
    padding: .5em;
    font-weight: 700;
    font-size: .8em;
    text-align: left;
    color: #8d8d8d;
}

.new-event:focus {
    outline: none;
}

.new-event:hover {
    color: black;
}