.calendar-navbar {

    text-align: left;
    display: inline-block;
    background: #333333;
    color: white;
    margin: 0;
    width: 20%;
    height: 100vh;
    padding: 1em .5em;
}

.navbar-heading{
    display: inline;
    font-size: 2em;
}

#navbar-year{
    color: red;
    margin-left: .5em;
}