.calendar-navbar {

    text-align: left;
    display: inline-block;
    background: #333333;
    color: white;
    margin: 0;
    width: 20%;
    height: 100vh;
    padding: 1em .5em;
}

.navbar-heading{
    display: inline;
    font-size: 2em;
}

#navbar-year{
    color: red;
    margin-left: .5em;
}
.react-calendar__navigation__label{
    font-size: 1.5em;
    color: white;
}

.react-calendar {
    background: transparent;
    border:none;
}

.react-calendar__navigation__next2-button, .react-calendar__navigation__prev2-button{
    display: none;
}

abbr[title], abbr[data-original-title] {
    text-decoration: none;
}

.react-calendar__month-view__days__day{
    color: white;
}

.react-calendar__month-view__days__day--weekend{
    color: red;
}